<div class="c-before-and-after__item is-{{imageAligment}} is-{% if first %}normal{% else %}flipped{%endif %}" data-before-and-after-item>
  <div class="c-before-and-after__blue-background"></div>
  
  <div class="c-before-and-after__images">

    {%- if beforeImage != blank -%}
      <div class="c-before-and-after__image-container-wrapper">

        <div class="c-before-and-after__image-container o-responsive-image-container is-before">
          {%- render 'tool.picture' with {
            image: beforeImage,
            class: 'c-before-and-after__image o-responsive-image',
            width: 606,
            sizes: '750,1100,1600',
            imageSizes: '265,350,606'
          } -%}
        </div>

        {%- if beforeSubtitle != blank  -%}
          <div class="c-before-and-after__image-caption o-heading--7">
            {{- beforeSubtitle | escape -}}
          </div>
        {%- endif -%}
          
      </div>
    {%- endif -%}

    {%- if afterImage != blank -%}
      <div class="c-before-and-after__image-container-wrapper">
        <div class="c-before-and-after__image-container o-responsive-image-container is-after">
          {%- render 'tool.picture' with {
            image: afterImage,
            class: 'c-before-and-after__image o-responsive-image',
            width: 606,
            sizes: '750,1100,1600',
            imageSizes: '265,350,606'
          } -%}
        </div>

          {%- if afterSubtitle != blank -%}
            <div class="c-before-and-after__image-caption o-heading--7">
              {{- afterSubtitle | escape -}}
            </div>
          {%- endif -%}
      </div>
    {%- endif -%}
  </div>


  <div class="c-before-and-after__right-container">
      
    <div class="c-before-and-after__item-title o-heading--5">
      {{- title | escape -}}
    </div>

    {%- if subtitle != blank -%}
      <div class="c-before-and-after__info">
        <p class="c-before-and-after__info-text o-heading--7">
          {{- subtitle | escape -}}
        </p>
      </div>
    {%- endif -%}

    <div class="c-before-and-after__item-text">
      {{- text | escape | newline_to_br -}}
    </div>

    {%- comment -%} Related Products {%- endcomment -%}
    <div class="c-before-and-after__related-products">
      {%- for i in (0..1) -%}
        {%- liquid
          if i == 0
            assign product = productLeft
          else
            assign product = productRight
          endif

          assign variant = product.first_available_variant

          if variant == blank
            continue
          endif
        -%}
        <div class="c-before-and-after__related-product o-related-product" data-related-product data-variant-id="{{variant.id}}" data-variant-quantity="{{variant.inventory_quantity}}">
          <div class="o-related-product__image-container">
            {%- render 'tool.picture' with {
              image: product.featured_image,
              class: 'o-related-product__image',
              width: 2000,
              sizes: '750,1100,1600',
              imageSizes: '354,1100,1600'
            } -%}

            {%- assign productType = product.type | downcase -%}
            {%- if productType contains 'bundle' -%}
              <a class="o-related-product__image-icon" href="{{variant.url}}">
                {%- render 'svg.plus' -%}
              </a>
            {%- else -%}
              <button data-related-add-button title='add to cart ' class="o-related-product__image-icon">
                {%- render 'svg.plus' -%}
              </button>
            {%- endif -%}
          </div>
          

          <div class="o-related-product__details">
            <a href="{{ variant.url }}" title="product page" class="o-related-product__title">
              {{ product.title | escape }}
            </a>
            <div class="o-related-product__price" data-currency data-money="{{ variant.price }}">
              {{ variant.price | money }}
            </div>
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>