{% comment %}
  Register Form
    Simple Register Form

  Version:
    1.0.0 - 2020/03/25

  Variables{
    "copy": "copy underneath text"

  }
{% endcomment %}


<div class="c-register-form {{ class }}">

  <h2 class="c-register-form__title">
    {{- 'customer.register.title' | t -}}
  </h2>
  {% if copy %}
    <p class="c-register-form__copy">{{copy | escape }}</p>
  {% endif %}

  {%- assign formId = 'RegisterForm' -%}
  {%- form 'create_customer' , id: formId-%}
    {% render 'form-status', form: form, form_id: formId %}
    
    <input type="hidden" name="customer[accepts_marketing]" value="true">
    <input type="hidden" id="customer_tags" name="customer[tags]" value="newsletter">
    <input type="hidden" name="return_to" value="/pages/join-community?logged=now"> 

    {%- comment -%} First Name {%- endcomment -%}
    {%- assign input_name = 'first_name'-%}
    <div class="o-form__input-group {% if form.errors contains input_name %}has-error{% endif %}">
      <input
        type="text"
        placeholder="{{'customer.register.' | append: input_name | t}}"
        name="customer[{{ input_name }}]"
        class="
          o-input
          o-form__text
          c-login-register__input
          c-register-form__input
        "
        value="{%if form[input_name]%}{{ form[input_name] }}{%endif%}"
        required
        spellcheck="false"
      />
    </div>

    {%- comment -%} Last Name {%- endcomment -%}
    {%-assign input_name = 'last_name'-%}
    <div class="o-form__input-group">
      <input
        type="text"
        placeholder="{{'customer.register.' | append: input_name | t}}"
        name="customer[{{ input_name }}]"
        class="
          o-input
          o-form__text
          c-login-register__input
          c-register-form__input
        "
        value="{%if form[input_name]%}{{ form[input_name] }}{%endif%}"
        required
        spellcheck="false"
      />
    </div>

    {%- comment -%} Email {%- endcomment -%}
    {%- assign input_name = 'email' -%}
    <div class="o-form__input-group">
      <input
        type="email"
        placeholder="{{'customer.register.' | append: input_name | t}}"
        name="customer[{{ input_name }}]"
        class="
          o-input
          o-form__text
          c-login-register__input
          c-register-form__input
        "
        value="{%if form[input_name]%}{{ form[input_name] }}{%endif%}"
        required
        spellcheck="false"
        autocomplete="off"
        autocapitalize="off"
      />
    </div>

    {%- comment -%} Password {%- endcomment -%}

    <p class="c-register-form__error o-form__errors" data-register-password-error>
      {{- 'customer.register.password_mismatch' | t -}}
    </p>

    {%- assign input_name = 'password' -%}
    <div class="o-form__input-group">
      <input
        data-password
        type="password"
        placeholder="{{'customer.register.' | append: input_name | t}}"
        name="customer[{{ input_name }}]"
        class="
          o-input
          o-form__text
          c-login-register__input
          c-register-form__input
        "
        value="{%if form[input_name]%}{{ form[input_name] }}{%endif%}"
        required
        spellcheck="false"
        autocomplete="off"
        autocapitalize="off"
      />
    </div>

    {%- comment -%} Confirm Password {%- endcomment -%}
    {%- assign input_name = 'confirm-password' -%}
    <div class="o-form__input-group">
      <input
        data-password-confirm
        type="password"
        placeholder="{{'customer.register.' | append: input_name | t}}"
        name="customer[{{ input_name }}]"
        class="
          o-input
          o-form__text
          c-login-register__input
          c-register-form__input
        "
        value="{%if form[input_name]%}{{ form[input_name] }}{%endif%}"
        required
        spellcheck="false"
        autocomplete="off"
        autocapitalize="off"
      />
    </div>

    <div class="c-login-register__permission-checkbox o-checkbox">
      <input type="checkbox" checked id="permission" required class="c-login-register__permission-checkbox o-checkbox__checkbox" data-register-mobile-opt-in="">
      <label for="permission" class="c-login-register__permission-checkbox-label o-checkbox__label">
        <span class="c-login-register__permission-checkbox-title">
          {{'customer.register.permission' | t}}
        </span>
      </label>
    </div>

    <div class="c-register-form__btn-container">
      <button type="submit" class="c-register-form__btn o-btn is-primary" data-register-submit>
        {{- 'customer.register.submit' | t -}}
      </button>
    </div>

  {%-endform-%}
</div>
{%- assign form = nil-%}
