{%- comment -%}
  Main Menu Link
    Reusable snippet for the submenu of each 1st level link from the main
    menu navigation. Use by both mobile and desktop

  Version
    1.0.0 - 2020/12/05
{%- endcomment -%}

{%- liquid

  assign menu = link.links

  assign tHandle = title | handleize

  assign linkActive = false
  assign linkLower = link.title | downcase
  if linkLower == 'shop' and template contains 'product' or template contains 'collection'
    assign linkActive = true
  elsif linkLower contains 'explore' and template contains 'blog' or template contains 'article'
    assign linkActive = true
  elsif linkLower contains 'support' and template contains 'contact' or template contains 'faq'
    assign linkActive = true
  endif

  assign featuredImagesHtml = ''
  assign mf = link.object.metafields.accentuate
  assign featuredImages = mf.featured_image
  assign featuredTitles = mf.featured_title
  assign featuredTitleColours = mf.featured_title_colour
  assign featuredImageLinks = mf.featured_image_link

  assign pageLevel = page.metafields.accentuate.level | plus: 0

-%}

{%- capture customerLevel -%}
  {%- render 'tool.skin-customer-level' -%}
{%- endcapture -%}
{% assign customerLevel = customerLevel | plus: 0 %}

{%- comment -%} Featured images for this link {%- endcomment -%}
{%- for i in (0..1) -%}

  {%- liquid
    assign isFirst = false
    if forloop.first
      assign isFirst = true
    endif
  -%}

  {%- capture featuredImagesHtml -%}
    {{- featuredImagesHtml -}}
    {%- render 'main-menu--featured-image' with {
      image: featuredImages[i],
      title: featuredTitles[i],
      color: featuredTitleColours[i],
      btnLink: featuredImageLinks[i],
      isFirst: isFirst
    } -%}
  {%- endcapture -%}
{%- endfor -%}

<ul class="c-main-menu__list {% if customer %} is-community-submenu {% endif %} is-level-2" data-menu-submenu="2">

  {%- comment -%} Back one level link {%- endcomment -%}
  <li class="c-main-menu__item is-back">
    <a
      href="{{ link.url }}"
      class="c-main-menu__link is-back has-submenu o-heading--7"
      title="{{ link.title | escape }}"
      data-submenu-back
    >
      <div class='c-main-menu__link-icon-back'></div>
      {{- link.title | escape -}}
      <div class='c-main-menu__link-icon-close'></div>
    </a>
  </li>

  {%- if customer -%}
    {%- for subLink in menu -%}
      {%- liquid
        assign status = 'locked'
        assign currentPageLevel = subLink.object.metafields.accentuate.level | plus: 0
        if customerLevel >= currentPageLevel
          assign status = 'unlocked'
        endif
      -%}
      <a
      href="{{ subLink.url }}"
      class="c-community-submenu__link is-{{status}} {% if subLink.active %}is-active{% endif %}"
      title="{{ subLink.title | escape }}"
      >

      <p class='c-community-submenu__link-title'>
        {{- subLink.title | escape -}}
      </p>

      <div class='c-community-submenu__link-icon'>
        {%- render 'svg.lock' -%}
      </div>
    </a>
    {%- endfor -%}

  {%- else -%}
    {%- for subLink in menu -%}
      {%- render 'nav-product-thumbnail', link: subLink, mobileImage: mobileImage, desktopImage: desktopImage -%}
    {%- endfor -%}
  {%- endif -%}

</ul>