{%- comment -%}
  Product Swatches
    Product Swatch elements

  Parameters:
    printJson - If true the JSON for the product will also be attached
    product - Product to generate for
    variant - Current selected variant, or blank
    class - Optional class for variant selector container

  Version:
    3.0.0 - 2020/10/22
{%- endcomment -%}

{%- liquid
  assign mf = product.metafields.accentuate
-%}

<div class="o-swatches {% if class != blank %}{{ class }}{% endif %}" data-swatches>
  {%-
    render 'object.variant-selector' with {
    variant: variant,
    product: product,
    printJson: printJson,
    class: 'o-swatches__variant-selector no-js'
    }
  -%}

  {% comment %} Visual Swatches {% endcomment %}
  {%- unless product.has_only_default_variant -%}
    <div class="o-swatches__swatches has-js">
      {%- for option in product.options_with_values -%}
        {%- assign option_handle = option.name | handle -%}

        {%- comment -%} Container {%- endcomment -%}
        <div class="o-swatches__swatch" data-swatch>
          {%- if option_handle == 'size' or option_handle == 'title' -%}
            <div
              class="o-swatches__swatch-options"
              data-swatch-group
              data-swatch-position="{{ option.position }}"
              data-index="option{{ option.position }}"
            >
              {%- for value in option.values -%}
                <button
                  type="button"
                  data-swatch-object
                  data-value="{{ value | escape }}"
                  class="o-swatches__swatch-size {%- if option.selected_value == value %} is-selected{% endif %}"
                >
                  <div class="o-swatches__swatch-size-inner s-swatch--{{ value | handle }} o-paragraph">
                    <div class="o-swatches__selected-circle">
                      <div class="o-swatches__selected-circle-inner"></div>
                    </div>
                    <span class="o-swatches__swatch-size-label">
                      {{- value | capitalize | escape -}}
                    </span>
                  </div>
                </button>
              {%- endfor -%}
            </div>
          {%- else -%}
            {% comment %} Default for "No Swatch" (Dropdown only) {% endcomment %}
            <div class="o-swatches__swatch-select">
              <select class="o-swatches__swatch-select-inner o-link" data-swatch-selector>
                {%- for value in option.values -%}
                  <option
                    value="{{ value | escape }}"
                    {% if option.selected_value == value %}
                      selected="selected"
                    {% endif %}
                  >
                    {{ value }}
                  </option>
                {%- endfor -%}
              </select>
            </div>
          {%- endif -%}
        </div>
      {%- endfor -%}
    </div>
  {%- endunless -%}
</div>
