<!DOCTYPE HTML>
<!--[if IE 9]> <html class="is-ie9 js-unavailable supports-no-cookies" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html class="js-unavailable supports-no-cookies" lang="{{ shop.locale }}"> <!--<![endif]-->
  <head>
    {%- comment -%} Head Tags Snippet (Site and Layout wide) {%- endcomment -%}
    {%- render 'tool.head-tags' -%}
    
    {{ 'layout.password.css' | asset_url | stylesheet_tag }}

    {%- comment -%}
      Extra injected data into the header by Shopify
    {%- endcomment -%}
    {{ content_for_header }}
  </head>

  <body id="{{ page_title | handle }}" class="c-page c-page--{{ template.name | handle }}">
    {%- comment -%} Accessibility skip link {%- endcomment -%}
    <a class="u-visually-hidden" href="#MainContent">
      {{- 'general.accessibility.skip_to_content' | t -}}
    </a>

    {%- comment -%} Entire Page Wrapper {%- endcomment -%}
    <div class="c-page__wrapper">

      {%- comment -%} Main (Template) Content {%- endcomment -%}
      <main role="main" class="o-main">
        <div class="o-main__wrapper" id="MainContent">
          {{ content_for_layout }}
        </div>
      </main>
    </div>
    
    {{ 'vendor.js' | asset_url | script_tag }}
  </body>
</html>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "{{ shop.name }}",
    {% if section.settings.logo %}
      {% assign image_size = section.settings.logo.width | append:'x' %}
      "logo": "https:{{ section.settings.logo | img_url: image_size }}",
    {% endif %}
    "sameAs": [
      "{{ settings.social_twitter_link }}",
      "{{ settings.social_facebook_link }}",
      "{{ settings.social_pinterest_link }}",
      "{{ settings.social_instagram_link }}",
      "{{ settings.social_tumblr_link }}",
      "{{ settings.social_snapchat_link }}",
      "{{ settings.social_youtube_link }}",
      "{{ settings.social_vimeo_link }}"
    ],
    "url": "{{ shop.url }}{{ page.url }}"
  }
</script>
