{%- comment -%}
  Diaries Template

  Version:
    1.0.0 - 2021/12/10

{%- endcomment -%}

{%- liquid

  assign ss = section.settings

  assign imageDesktop = ss.featured_article.metafields.accentuate.desktopImage
  assign imageMobile = ss.featured_article.metafields.accentuate.mobileImage

  if imageMobile == blank
    assign imageMobile = imageDesktop
  endif

  assign learnMore = 'articles.learn_more' | t

  assign diariesBlog = blogs[section.settings.diariesBlog]

-%}

{%- if diariesBlog.articles.size > 0 -%}

  <section class="c-diaries-template">

    {%- comment -%} Diaries Vlog Hero Banner {%- endcomment -%}
    <div class="c-diaries-template__header-background">
    </div>
    <div class="c-diaries-template__inner">
      <div class="c-diaries-template__content-container">
        {%- if ss.title != blank -%}
          <p class="c-diaries-template__pre-title o-heading--7">
            {{- ss.title | escape -}}
          </p>
        {%- endif -%}
          
        {%- if ss.featured_article.title != blank -%}
          <h1 class="c-diaries-template__heading">
            {{- ss.featured_article.title -}}
          </h1>
        {%- endif -%}

        {%- if ss.featured_article.excerpt != blank -%}
          <p class="c-diaries-template__description">
            {{- ss.featured_article.excerpt | truncatewords: 15 -}}
          </p>
        {%- endif -%}

        <a class="c-diaries-template__btn o-link has-arrow" href="{{ss.featured_article.url}}">
          {{- learnMore -}}
        </a>
      </div>

      <div class="c-diaries-template__image-container o-responsive-image-container">
        {%- render 'tool.picture' with {
          image: imageDesktop,
          class: 'c-diaries-template__image o-responsive-image is-desktop',
          width: 1000,
          sizes: '750,1350,1650',
          imageSizes: '1,650,800'
        } -%}

        {%- render 'tool.picture' with {
          image: imageMobile,
          class: 'c-diaries-template__image o-responsive-image is-mobile',
          width: 295,
          sizes: '375,500,750',
          imageSizes: '341,450,700'
        } -%}
      </div>
    </div>

    {%- comment %} Article's List {%- endcomment -%}
    {% paginate diariesBlog.articles by 6 %}

      <div class="c-diaries-template__articles">
        {%- for article in diariesBlog.articles -%}

        {%- render 'object.article-diaries-thumbnail' with {
          article: article,
          class: 'c-diaries-template__articles-wrapper'
        } -%}

        {%- endfor -%}
      </div>
      
      {%- comment -%} Pagination {%- endcomment -%}
      {%- render 'object.pagination' with {
        paginate: paginate,
      } -%}
    {% endpaginate %}

  </section>

  {{ 'sections.blog-diaries-template.css' | asset_url | stylesheet_tag }}

{%- endif -%}

{% schema %}
{
  "name": "Diaries Blog",
  "class": "c-section c-section__diaries-template",
  "settings": [
    {
      "type": "header",
      "content": "Banner",
      "info":"Hero banner will be different all the time, depending from the featured article"
    },
    {
      "label": "Title",
      "type": "text",
      "id": "title"
    },
    {
			"type": "article",
			"id": "featured_article",
			"label": "Featured article"
		},
    {
      "type": "blog",
      "id": "diariesBlog",
      "label": "Diaries Blog"
    }
  ]
}
{% endschema %}

